* {
    
        padding: 0;
        margin: 0;
    }
    
    body {
        overflow-x: hidden;
        font-family: 'Open Sans', sans-serif;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        background-color: whitesmoke;
        position: relative;
        height: 100%;
        overflow: auto;
    }

    html {
        overflow: hidden;
        height: 100%;
    }
    
    li {
    
        list-style: none;
        display: inline-block
    }
    
    a {
    
        text-decoration: none;
        transition: all 500ms ease-in-out;
    }
    
    a:hover,
    a:active {
    
        text-decoration: none;
    }
    
    h1,
    h2,
    h4 {
        text-align: center;
        font-family: 'PT Sans Narrow', Arial, sans-serif;
        font-weight: bold;
    }
    
    p {
        font-size: 15px;
        line-height: 21px;
    }
    
    .btn {
    
        transition: all 300ms ease-in-out;
        font-weight: 500 !important;
        text-transform: uppercase;
    }
    
    .btn:hover {
    
        background-color: #ededed !important;
        color: #3c3c3c !important;
        border: 1px solid #fff !important;
    }

    /*  FONT FACES BELOW */
    @font-face
    {
        font-family: bebasNeue;
        src: url('bebas_neue/BebasNeue Bold.otf');
        font-weight: bold;
    }

    @font-face
    {
        font-family: bebasNeue;
        src: url('bebas_neue/BebasNeue Light.otf');  
        font-weight: lighter;
    }

    @font-face
    {
        font-family: alte;
        src: url('alte_haas_grotesk/AlteHaasGroteskBold.ttf');
        font-weight: bold;
    }


/* COLORS
    1) #FF3B3F - Watermelon
    2) #CAEBF2 - Sky
    3) #A9A9A9 - Carbon
    4) #EFEFEF - Neutral
    5) #172530 - Blue/Black
    6) #8CD790 - Green
    7) #D1B6E1 - Purple
    8) #EC7357 - Rust
*/

/* NAVIGATION */
    .navbar
    {
        background-color: #EC7357 !important;
        border: none !important;
        padding-right: 50px;
        margin-bottom: 0 !important;
    }

    #perLogo{
        position: absolute;
        padding-left: 50px;
        height: 60px;
        width: auto;
        top: 10px;
    }

    .navbar-header a{
        font-family: 'Courier';
        font-weight: 700;
    }

    .navbar-collapse l1{
        text-transform: lowercase;
        font-family: 'Courier';
    }

    .navbar-collapse a
    {
        color: black !important;
    }

    .navbar a:hover
    {
        color:black !important;
        background-color: #FDD692 !important;
    }

    #sec{
        text-align: center;
        display: block;
    }

    #sec2{
        text-align: center;
        display: block;
    }

    #headTxt{
        font-size: 10px;
        color: black;
    }

    #headImg{
        font-size: 30px;
        color: black;
    }

/* END OF NAVIGATION */


/* HEADER */

    .header {
        color: whitesmoke;
        height: 100%;
        width: 100%;
        padding: 30px;
        text-align: center;
        position: relative;
        overflow: hidden;
        padding-bottom: 150px;
    }

    .header::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        filter: brightness(20%);
        background-image: url('../images/code.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .header #typewriter {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .05em; /* Adjust as needed */
        font-family: bebasNeue;
        font-weight: bold;
        font-size: 100px;
        text-align: center;
        padding-left: 0%;
        z-index: 2;
        position: relative;
        color: whitesmoke;
        padding-bottom: 10px;
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
      }

      .header h1{
        font-family: bebasNeue;
        padding-top: 20px;
        padding-left: 25%;
        font-weight: none;
        font-size: 80px;
        text-align: left;
        z-index: 2;
        position: relative;
        color: whitesmoke;
      }
      
      /* The typing effect */
    @keyframes typing {
        from { width: 0% }
        to { width: 100% }
    }

        /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: none; }
    }

    #this{
        font-size: 80px;
        margin-top: -0.2em;
        padding-left: 25%;
        color: #A9A9A9;
        font-family: bebasNeue;
        font-weight: lighter;
        text-align: left;
        z-index: 2;
        position: relative;
        color: whitesmoke;
        padding-bottom: 50px;
    }

      .Iam{
        display: inline;
        padding: 2em 5em;
        font: normal 40px/50px Montserrat, sans-serif;
        color: #999;
        text-align: left;
        padding-bottom: 50px;
      }
      .Iam p {
        height: 50px;
        margin-right: 0.5em;
      }
      .Iam b {
        float: left;
        overflow: hidden;
        position: relative;
        height: 75px;
        padding-left: 25%;
      }
      .Iam .innerIam {
        display: inline-block;
        color: #e74c3c;
        position: relative;
        white-space: nowrap;
        font-size: 40px;
    
      /*animation*/
      -webkit-animation:move 7s;
         -moz-animation:move 7s;
          -ms-animation:move 7s;
           -o-animation:move 7s;
              animation:move 7s;

      /*animation-iteration-count*/
      -webkit-animation-iteration-count:1;
         -moz-animation-iteration-count:1;
          -ms-animation-iteration-count:1;
           -o-animation-iteration-count:1;
              animation-iteration-count:1;

        animation-fill-mode: forwards;
              
      /*animation-delay*/
      -webkit-animation-delay:2s;
         -moz-animation-delay:2s;
          -ms-animation-delay:2s;
           -o-animation-delay:2s;
              animation-delay:2s;
      }
      @keyframes move{
        0%  { top: 0px; }
        25% { top: -70px; }
        50% { top: -150px; }
        75% { top: -230px; }
        100%{ top: -310px; }
      }
      
      @-webkit-keyframes move {
        0%  { top: 0px; }
        25% { top: -70px; }
        50% { top: -150px; }
        75% { top: -230px; }
        100%{ top: -310px; }
      }
      @-moz-keyframes move {
        0%  { top: 0px; }
        25% { top: -70px; }
        50% { top: -150px; }
        75% { top: -230px; }
        100%{ top: -310px; }
      }
      @-o-keyframes move {
        0%  { top: 0px; }
        25% { top: -70px; }
        50% { top: -150px; }
        75% { top: -230px; }
        100%{ top: -310px; }
      }
      @keyframes move {
        0%  { top: 0px; }
        25% { top: -70px; }
        50% { top: -150px; }
        75% { top: -230px; }
        100%{ top: -310px; }
      }

    .header #initials{
        color:#FF3B3F;
    }

    .header p{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 22px;
        z-index: 2;
        position: relative;
        color: whitesmoke;
        padding-top: 90px;
    }

    .header ul{
        list-style-type:none;
        padding-left: 0pt;
        display: inline-block;
    }

    .header li{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 22px;
        display: block;
        z-index: 2;
        position: relative;
        color: whitesmoke;
    }

/* END OF HEADER */

    #faH{
        font-size: 80px;
        padding-top: 15px;
        color: #FF3B3F;
        text-align: center;
    }

/* START OF INTERESTS */

    .interests {
        padding-top: 80px;
        background-color: #CAEBF2;
        color: black;
        text-align: center;
        padding-bottom: 100px;
    }

    .interests #faH{
        color:#FF3B3F;
    }

    .interests h2{
        font-family: 'PT Sans Narrow', Arial, sans-serif;
        font-weight: none;
        text-transform: none;
        font-size: 45px;
        color: black;
    }

    .interests #icon{
        font-size: 100px;
        color: #FF3B3F;
    }

/* END OF INTERESTS */



/* START OF ABOUT ME SECTION */
    .about {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .about #text{
        text-align: left;
        font-size: large;
        line-height: 30pt;
    }


/* END OF ABOUT ME SECTION */



/* START OF CONTACT SECTION */
    .contact{
        background-color: #EC7357;
    }

    .contact h2{
        font-size: 30pt;
        padding-top: 0;
        color: black;
    }

    #faC{
        font-size: 30pt;
    }

    .contact #S{
        text-align: center;
        line-height: 15pt;
        color: black;
    }
/* END OF CONTACT SECTION */


/* START OF FOOTER */
    .footer{
        color: gray;
        background-color: #172530;
        text-align: center;
    }

    .footer h2{
        font-family: 'Courier';
    }
/* END OF FOOTER */



/* START OF PROJECTS HTML LAYOUT */
    #projects{
        background: whitesmoke;
    }

    #projects .projMain{
        text-align: center;
    }


     #projImg{
        text-align: left;
        padding-top: 40px;
        max-width: 70%;
        max-height: 70%;
    }

    #page-header{
        background: #172530;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #page-header h1{
        font-family: alte;
        color: #FF3B3F;
        font-weight: bold;
        font-size: 60px !important;
        text-shadow: 2px 2px 2px black;
    }

    #proj-head-dark{
        color: #172530;
        text-align: left;
        font-family: alte;
        font-weight: bold;
        font-size: 40px;
        padding-left: 10%;
    }

    #proj-head-light{
        color: #EC7357;
        text-align: left;
        font-family: alte;
        font-weight: bold;
        font-size: 40px;
        padding-left: 10%;
    }

    #tech{
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #tech-light{
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        color: whitesmoke;
    }

    #desc-light
    {
        color: whitesmoke;
    }

    #projIcon{
        font-size: 280px;
        color: #EC7357;
    }

/* END OF PROJECTS HTML LAYOUT */

/* SECTIONS AND COLORING */

#sky-sect{
    background: #CAEBF2;
    padding-top: 60px;
    padding-bottom: 60px;
}

#carbon-sect{
    background: #A9A9A9;
    padding-top: 60px;
    padding-bottom: 60px;
}

#neutral-sect{
    background: #EFEFEF;
    padding-top: 60px;
    padding-bottom: 60px;
}

#green-sect{
    background: #8CD790;
    padding-top: 60px;
    padding-bottom: 60px;
}

#blue-sect{
    background: #172530;
    padding-top: 60px;
    padding-bottom: 60px;
}

#purple-sect{
    background: #D1B6E1;
    padding-top: 60px;
    padding-bottom: 60px;
}

#rust-sect{
    background: #EC7357;
    padding-top: 60px;
    padding-bottom: 60px;
}

#dark-sect{
    background: #3E4348;
    padding-top: 60px;
    padding-bottom: 60px;
}

#tan-sect{
    background: #FDD692;
    padding-top: 60px;
    padding-bottom: 60px;
}

.work{
    font-family: alte;
}

.work #jobTitle{
    font-size: 20px;
    color: #FF3B3F;
}

#degree{
    padding-left: 12%;
}

#eduImg{
    text-align: left;
    padding-top: 20px;
    padding-right: 60px;
    max-width: 80%;
    max-height: 80%;
}

/*  END OF SECTIONS AND COLORING  */


@media(max-width:768px) {
    .header h1 {
        font-size: 26pt;
    }

    .header #typewriter {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .05em; /* Adjust as needed */
        font-family: bebasNeue;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        padding-left: 0%;
        z-index: 2;
        position: relative;
        color: whitesmoke;
        padding-bottom: 10px;
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
      }

      #this{
          font-size: 26pt;
      }

      .Iam .innerIam{
        font-size: 10pt;
      }

      .navbar
      {
          background-color: #EC7357 !important;
          border: none !important;
          padding-right: 0px;
          margin-bottom: 0 !important;
      }
  
      #perLogo{
          position: absolute;
          padding-left: 0px;
          height: 30px;
          width: auto;
          top: 10px;
      }

      #page-header h1{
        font-family: alte;
        color: #FF3B3F;
        font-weight: bold;
        font-size: 40px !important;
        text-shadow: 2px 2px 2px black;
    }

    #eduImg{
        display: block;
        text-align: center;
        max-width: 80%;
        max-height: 80%;
    }

    #projImg{
        display: block;
        text-align: center;
        padding-left: 5%;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}